@btn-size: 32px;
@btn-size-large: 36px;
@media (min-width: 700px) {
  .tool-group {
    margin-left: 20px;
  }
}
@media (min-width: 360px) {
  .paint-app.mobile {
    .tool-bar {
      height: @btn-size-large;
      .tool-group {
        height: @btn-size-large;
      }
      .tool-item {
        width: @btn-size-large;
        height: @btn-size-large;
      }
      .ant-upload {
        .ant-btn {
          height: @btn-size-large;
        }
      }
    }
  }
}
.paint-app.mobile {
  .slider-wrapper {
    position: absolute;
    left: 5px;
    bottom: 5px;
    top: auto;
    // width: 170px;
  }
  #size-control {
    display: none;
  }
}
#root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.paint-app {
  overflow: hidden;
  .tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 32px;
    z-index: 1;
    .tool-group {
      display: flex;
      height: 32px;
      .ant-btn {
        position: relative;
        .icon {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        .forward {
          background: url(../../res/forward.svg) no-repeat center center transparent;
          background-size: 16px;
        }
        .backward {
          background: url(../../res/backward.svg) no-repeat center center transparent;
          background-size: 16px;
        }
      }
      .clear {
        background: url(../../res/clear.svg) no-repeat center center white;
        background-size: 16px;
      }
      .zoomin {
        background: url(../../res/zoomin.svg) no-repeat center center white;
        background-size: 16px;
      }
      .zoomout {
        background: url(../../res/zoomout.svg) no-repeat center center white;
        background-size: 16px;
      }
      .fit {
        background: url(../../res/fit.svg) no-repeat center center white;
        background-size: 16px;
      }
      .add {
        background: url(../../res/add.svg) no-repeat center center white;
        background-size: 16px;
      }
      .minus {
        background: url(../../res/minus.svg) no-repeat center center white;
        background-size: 16px;
      }
      .rubber {
        background: url(../../res/rubber.svg) no-repeat center center white;
        background-size: 16px;
      }
      .hand {
        background: url(../../res/hand.svg) no-repeat center center white;
        background-size: 16px;
      }
      .target {
        background: url(../../res/target.svg) no-repeat center center white;
        background-size: 16px;
      }
    }
    .segment {
      margin-left: 10px;
    }
  }
  .slider-wrapper {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    min-height: 32px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 1;
    .indicator-wrapper {
      margin: 0 10px;
      width: 40px;
      display: flex;
      justify-content: center;
    }
    .ant-slider {
      width: 100px;
      margin: 0 10px 0 0;
    }
  }
  .paint-canvas-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    .middle-line {
      width: 1px;
      background-color: gray;
    }
    canvas {
      flex:1;
      height: 100%;
    }
  }
}